.navbar {
    max-width: 1356px;
    margin: 0 auto;
    padding: 10px 0px;
    background-color: #fff;
}

a.active {
    color: red;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #3f4b53;
}

.navbar ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    padding: 12px 12px;
}
