.footer {
    background-color: #fff;
}

.footer-promotion {
    max-width: 1356px;
    margin: 0 auto;
    display: flex;
}

.footer-img {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;
    padding: 30px 50px;
}

.footer-img img {
    width: 130px;
}

.text {
    color: #0f1e29;
    font-weight: 700;
    font-size: 12px;
}

.text-desc {
    font-size: 12px;
    font-weight: 400;
    color: #6f787e;
}

.about {
    max-width: 1356px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about ul li {
    font-weight: 400;
    color: #0f1e29;
    line-height: 1.6rem;
    font-size: 12px;
    margin: 10px 0px;
}

.about ul li:first-child {
    font-size: 12px;
    color: #0f1e29;
    font-weight: 700;
    letter-spacing: 0;
}

.footer-about {
    background-color: #f2f3f4;
}

.logo img {
    height: 4rem;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
    object-fit: contain;
    width: 12rem;
}

.logo-img {
    display: flex;
}

.footer-address {
    background-color: #27343e;
}

.address {
    max-width: 1356px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
}

.address-text {
    width: 50%;
}

.address-text p {
    margin: 15px 0;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6rem;
}

.address-logo {
    display: flex;
}

.address-logo img {
    height: 3.3rem;
    margin-right: 2rem;
}

.address-form input {
    width: 327px;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #fff;
    outline: 0;
}

.address-form p {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.6rem;
}

.address-form button {
    margin-left: 10px;
    background-color: #ee2624;
    border: 1px solid #ee2624;
    color: #fff;
    font-weight: 700;
    padding: 0.6rem 2.6rem;
    border-radius: 4px;
}

.form {
    margin-top: 10px;
}
